*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BF4B1B;
    color: #8D0606;
    
    display: flex;
    
    height: 100vh;

}
/* Estilização da section analisador */
.analisador{
    background:#F2926B;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.311);

    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 15px;
    
    text-align: center;
    
    width: 80vw;
    
}
/* Estilização da div adicionar */
.analisador__adicionar{
    margin-bottom: 1.5rem;
}
/* Estilização do título */
.analisador__titulo{
    font-size: 2rem;
    
    padding: 1.5rem 0;
}
/* Estilização da label */
.analisador__texto{
    color: #004012;
    
    cursor: pointer;
    
    font-weight: bold;
    
    margin-top: 10px;
    padding: 10px;
    
    text-align: center;
    text-transform: uppercase; 
}
/* Estilização do input de  números */
.analisador__numeros{
    border: none;
    
    color: #400101;
    
    font-size: 1.15rem;
    font-weight: 500;
    
    padding: 10px 20px;
    
    outline: none;
    
    width: 80%;
}
/* Estilização dos botões de Adicionar e Finalizar */
.analisador__botao, .selecao__botao{
    background-color:  #400101;
    
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
    
    color: #54BF1B;
    font-weight: bold;
   
    margin-top: 10px;
    padding: 10px 20px ;
    
    text-transform: uppercase;
   
    width: 80%;
}
/* Estilização da div selecao */
.selecao{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
}
/* Estilização do Select */
.selecao__valores{
    border: none;

    color: #400101;

    font-size:1.15rem ;
    font-weight: 500;
    
    margin-bottom:1.5rem ;
    padding: 1rem 0;
    
    outline: none;

    text-align: center;
    
    width: 80%;

}
/* Estilização do botão de limpar */
.selecao__limpar{
    background-color: #54BF1B  ;
    
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
    
    color: #400101;
    
    font-weight: bold;
   
    padding: 10px 20px ;
    margin-top: 10px;
    
    text-transform: uppercase;
    
    width: 80%;
}
/* Estilização da div Resultados */
.resultados{
    font-size: 1.5rem;
    
    justify-content: center;

    margin: 0 auto;
    padding-top: 1rem;

    text-align: justify;
}